@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

body{
  font-family: roboto, Arial, Helvetica, sans-serif;
}

.App {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}

.App ul{
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}